@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* Colors */

    /* Primary */

    --lime-green: hsl(163, 72%, 41%);
    --bright-red: hsl(356, 69%, 56%);

    --facebook: hsl(208, 92%, 53%);
    --twitter: hsl(203, 89%, 53%);
    --instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    --youTube: hsl(348, 97%, 39%);

    /* Dark Theme */

    --toggle-mode: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));

    /* Light Theme */

    --toggle: hsl(230, 22%, 74%);

    /* Neutral */

    /* Dark Theme */

    --very-dark-blue : hsl(230, 17%, 14%); /*(BG)*/
    --very-dark-blue-2 : hsl(232, 19%, 15%); /*(Top BG Pattern)*/
    --dark-desaturated-blue : hsl(228, 28%, 20%); /*(Card BG)*/
    --desaturated-blue : hsl(228, 34%, 66%); /*(Text)*/
    --white : hsl(0, 0%, 100%); /*(Text)*/

    /* Light Theme */

    --white : hsl(0, 0%, 100%); /*(BG)*/
    --very-pale-blue : hsl(225, 100%, 98%); /*(Top BG Pattern)*/
    --light-grayish-blue : hsl(227, 47%, 96%); /*(Card BG)*/
    --dark-grayish-blue : hsl(228, 12%, 44%); /*(Text)*/
    --very-dark-blue : hsl(230, 17%, 14%); /*(Text)*/

    /* Typography */

    /* Body Copy */

    --family: 'Inter', sans-serif;

    --font-size : 14px; /*(Overview Card Headings)*/
}

body{
    font-family: var(--family);
    font-size: var(--font-size);
    background-color: var(--very-dark-blue);
    color: var(--white);
    max-width: 1280px;
    margin: 0 auto;
    transition: .5s ease all;
}

body.light{
    background-color: var(--white);
}

.header{
    margin: 0 20px;
    margin-bottom: 20px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.header__titulo{
    padding-bottom: 25px;
    border-bottom: 1px solid var(--desaturated-blue);
    display: flex;
    flex-direction: column;
}

.titulo__h3{
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 7px;
}

body.light .titulo__h3{
    color: var(--very-dark-blue);
}

.titulo__span{
    font-weight: 700;
    color: var(--desaturated-blue);
}

.header__mode{
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mode__span{
    color: var(--desaturated-blue);
    font-weight: 700;
}

.switch{
    width: 50px;
    height: 25px;
    background-image: var(--toggle-mode);
    border-radius: 50px;
    border: none;
    position: relative;
    cursor: pointer;
    outline: none;
}

.switch::after{
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: var(--dark-desaturated-blue);
    top: 0;
    left: 0;
    right: unset;
    border-radius: 50%;
    margin-left: 3px;
    margin-top: 2.5px;
}

.active::after{
    right: 0;
    left: unset;
    margin-right: 3px;
    background-color: var(--white);
}

body.light .switch{
    background-image: var(--toggle);
}

.main{
    max-width: 1280px;
}

.main__social{
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 25px;
}

.social__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark-desaturated-blue);
    padding: 30px 0;
    border-radius: 5px;
    margin-bottom: 30px;
    width: 291px;
}

body.light .social__card{
    background-color: var(--very-pale-blue);
}

.social__card:hover{
    cursor: pointer;
    background-color: var(--dark-grayish-blue);
}

body.light .social__card:hover{
    background-color: var(--dark-grayish-blue);
}

.card__info{
    display: flex;
    align-items: center;
}

.info__logo{
    margin-right: 10px;
}

.info__name{
    font-weight: 700;
    font-size: 12px;
    color: var(--desaturated-blue);
}

.card__numbers{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0;
}

.numbers__h5{
    font-weight: 700;
    font-size: 56px;
}

body.light .numbers__h5{
    color: var(--very-dark-blue);
}

.numbers__follow{
    color: var(--desaturated-blue);
    letter-spacing: 5px;
}

.card__today{
    display: flex;
    align-items: center;
}

.today__img{
    margin-right: 10px;
}

.today__info{
    color: var(--lime-green);
    font-size: 12px;
    font-weight: 700;
}

.today__info-f{
    color: var(--bright-red);
    font-weight: 700;
    font-size: 12px;
}

.social__card-facebook{
    border-top: 5px solid var(--facebook);
}

.social__card-twitter{
    border-top: 5px solid var(--twitter);
}

.social__card-instagram{
    border-top: 5px solid rgb(212, 13, 13);
}

.social__card-youtube{
    border-top: 5px solid var(--youTube)
}

.data__h3{
    margin-left: 20px;
    font-size: 24px;
    margin-bottom: 25px;
}

body.light .data__h3{
    color: var(--dark-grayish-blue);
}

.main__data{
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 25px;
}

.data__card{
    display: flex;
    flex-direction: column;
    background-color: var(--dark-desaturated-blue);
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 25px;
    width: 291px;
}

body.light .data__card{
    background-color: var(--very-pale-blue);
}

.data__card:hover{
    cursor: pointer;
    background-color: var(--dark-grayish-blue);
}

body.light .data__card:hover{
    background-color: var(--light-grayish-blue);
}

.card__social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.social__p{
    color: var(--desaturated-blue);
    font-weight: 700;
    letter-spacing: 1px;
}

body.light .social__p{
    color: var(--dark-grayish-blue);
}

.card__numero{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.numero__h3{
    font-size: 28px;
}

body.light .numero__h3{
    color: var(--very-dark-blue);
}

.numero__div{
    display: flex;
    align-items: center;
}

.div__p{
    color: var(--lime-green);
    font-weight: 700;
    font-size: 12px;
    margin-left: 5px;
}

.div__p-f{
    color: var(--bright-red);
    font-weight: 700;
    font-size: 12px;
    margin-left: 5px;
}

@media screen and (min-width: 1024px){

    .header{
        flex-direction: row;
        justify-content: space-between;
    }

    .header__titulo{
        padding-bottom: 0;
        border-bottom: none;
    }

    .titulo__h3{
        margin-bottom: 5px;
    }
    
    .header__mode{
        width: 150px;
    }
}






.attribution { font-size: 11px; text-align: center; margin-bottom: 25px; }
.attribution a { color: hsl(228, 45%, 44%); }